.chatInputContainer {
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  padding: 1em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  width: 375px;
  position: fixed;
  top: 60px;
  margin-right: 3ch;
}

.submitButton {
  background: linear-gradient(
    to right,
    hsl(202, 90%, 88%) 50%,
    rgb(110, 202, 255) 100%
  );
  border-radius: 25px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  font-family: "Nunito", sans-serif;
}
