@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

.postsDiv {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  /* border: solid goldenrod; */
  flex-direction: column;
  max-width: 600em;
  margin: 2em auto 0;
  background: linear-gradient(to right, #f7f7f7 54%, #e8f4fc 100%);
  padding: 1em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  width: 40em;
}

.postList {
  list-style-type: none;
}

.listItemContainer {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  /* border: solid goldenrod; */
  background: white;
  padding: 1vh;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  width: 37em;
}

.nameTitle {
  border-radius: 25px;
  padding: 3.5px;
  padding-left: 10px;
  background: linear-gradient(
    to right,
    hsl(202, 90%, 88%) 50%,
    rgb(110, 202, 255) 100%
  );
  margin-left: 7px;
  margin-right: 7px;
  font-family: "Nunito", sans-serif;
  font-size: large;
}

.deleteButton {
  align-self: flex-end;
  flex-wrap: wrap;
  padding-right: 7px;
  padding-bottom: 7px;
}

.contentBox {
  margin-left: 7px;
  margin-right: 7px;
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 10px;
  font-family: "Nunito", sans-serif;
}

.readMoreButton {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  flex-wrap: wrap;
  padding-right: 7px;
  padding-bottom: 5px;
  font-size: small;
}

.buttonDiv {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
}
