.login {
    background-color: #444444;
    border: none;
    color: white;
    padding: 0px;
    width:20vmin;
    height:20vmin;
    text-align: center;
    border-radius: 100%;  

}

.login:focus {
    outline: none;
}

