.mainChatContainer {
  display: flex;
  flex-direction: row;
  /* border: solid goldenrod; */
  justify-content: center;
  min-height: 100vh;
  background: slategray;
  background-image: url(../../Images/serenitywallpaperforprjoect.jpg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: baseline;
}

.inputAndWindowContainer {
  display: flex;
  margin-top: 60px;
  flex-direction: row;
  /* border: solid goldenrod; */
  justify-content: center;
  align-items: baseline;
  align-content: space-around;
}

.chatInputHoverMode {
  width: 400px;
}

.chatWindowHover {
  width: 40em;
}

.isTypingMessage {
  height: 300px;
}
