.profilePageContainer{
    display: flex;
   
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;



}

.profileInfoContainer{  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    justify-self: center;
    align-self: center;  
}

.image{
    align-self: center;
    width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  padding: 5px;
  background: rgb(0, 0, 0);
  border: 1px solid rgba(25, 130, 201, 0.404);
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: var(--dark-shadow);
  justify-self: center;
}
p{
   align-items: center;
   text-align: center;
}

h2{
    align-items: center;
    text-align: center;
}