.chatWindowContainer {
  display: flex;

  justify-content: space-around;
  /* border: solid goldenrod; */
  flex-direction: column;
  width: 40em;
  background: #f7f7f7;
  padding: 1em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  margin-bottom: 30px;
  height: auto;
}

.chatWindowList {
  list-style-type: none;
  overflow-y: scroll;
  margin: 10px;
  padding: 14px;
}
