@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap");

.messageContainer {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  /* border: solid goldenrod; */
  background: white;
  padding: 1vh;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.chatMessageContent {
  margin-left: 7px;
  margin-right: 7px;
  padding-left: 7px;
  padding-right: 7px;
  /* padding-bottom: 50px; */
  font-family: "Nunito", sans-serif;
  word-wrap: break-word;
}

.chatUserName {
  border-radius: 25px;
  padding: 3.5px;
  padding-left: 10px;
  /* background: linear-gradient(
    to right,
    hsl(202, 90%, 88%) 50%,
    rgb(110, 202, 255) 100%
  ); */
  font-family: "Nunito", sans-serif;
  font-size: large;
  font-weight: 600;
}
